/* Fist Nav */
.first-nav {
    background-color: $dark;
    padding: 0.5rem 0;
    position: relative;
    z-index: 2;

    a {
        color: $white;
        font-weight: 500;

        i {
            margin-right: 0.4rem;
            color: $primary;
        }
    }
}

.top-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 2px solid $info;
    }

    @media (max-width: 767px) {
        justify-content: center;
    }

    div {
        text-align: center;
        color: $white;

        a,
        p {
            color: $dark;
            font-weight: 600;
            font-size: 20px;
        }
    }
}

.nav-hero {
    width: 100%;
    height: auto;
    position: relative;

    @media (max-width: 1200px) {
        height: auto;
    }

    .hero {
        position: relative;
        width: 100%;

        .hero-content {
            padding: 3rem 0rem 5rem;

            @media (max-width: 1200px) {
                padding: 3rem 0rem 9rem;
            }
        }


        h1 {
            width: 95%;
            margin: 0 auto;
            text-transform: capitalize;
            color: $white;
            padding: 0.2rem;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            font-weight: 600;
            font-size: 52px;
            line-height: 60px;
            margin-bottom: 1rem;

            span {
                font-size: 45px;
            }

            @media (max-width: 768px) {
                width: 100%;
                padding: 0 0rem;
                font-size: 40px;

                span {
                    font-size: 35px;
                }
            }

            @media (max-width: 576px) {
                font-size: 35px;
                margin-bottom: 1rem;
                line-height: inherit;

                span {
                    font-size: 33px;
                }
            }
        }

        .hero-info {
            max-width: 60%;
            width: 85%;
            margin: 0 auto;
            font-size: 18px;
            color: $white;
            text-align: left;
            padding-right: 140px;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media (max-width: 992px) {
                max-width: 80%;
                text-align: center;
                padding-right: 0px;
            }

            @media (max-width: 576px) {
                margin-top: 0.5rem;
                width: 95%;
            }
        }

        .logo-form {
            max-width: 60%;
            width: 100%;
            text-align: right;
            margin: -90px auto 0 auto;

            @media (max-width: 992px) {
                max-width: 100%;
                text-align: center;
                margin: 0;
            }

            img {
                position: relative;
                max-width: 140px;
                margin-bottom: -50px;
                z-index: 2;
                filter: drop-shadow(0 0.4rem 0.5rem rgba(0, 0, 0, 0.72));

                @media (max-width: 992px) {
                    margin-bottom: -10px;
                }
            }
        }

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }

        .hero-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
            object-fit: cover;
        }

        &::after {
            position: absolute;
            content: "";
            background: rgb(28, 1, 1);
            background: linear-gradient(180deg, rgba(5, 9, 15, 0.35) 1%, rgba(5, 9, 15, 0.8) 48%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        form {
            padding: 2rem 1.5rem;
            width: 60%;
            border-radius: 8px;
            margin: 0 auto;
            background: linear-gradient(0deg, rgba(160, 160, 160, 0.38) 0%, rgba(180, 180, 180, 0.38) 100%);
            box-shadow: 0 8px 32px 0 #0c1626;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(15px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.38);


            @media (max-width: 992px) {
                width: 90%;
            }

            @media (max-width: 576px) {
                width: 100%;
            }

            label {
                font-weight: 600;
                color: $white;

            }

            input {
                padding: 0.5rem 1rem;
            }

            .btn-primary.btn-form {
                background: linear-gradient(0deg, rgba(62, 115, 59, 1) 0%, rgba(89, 158, 85, 1) 100%);

                &:hover {
                    background: linear-gradient(0deg, rgba(52, 105, 49, 1) 0%, rgba(79, 148, 75, 1) 100%);
                }
            }
        }

        .form-legal-agreement {
            font-size: 11px;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            color: $white;

            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }
}


.nav-hero.inner-page {
    height: auto !important;

    .hero-img {
        filter: brightness(60%)
    }

    @media (max-width: 1200px) {
        height: auto;
        min-height: auto !important;
    }

    .hero-content {
        padding: 3rem 0rem 5rem;

        @media (max-width: 1200px) {
            padding: 3rem 0rem 9rem;
        }

        h1 {
            font-weight: 500;

            span {
                font-size: 30px;
                font-weight: 500;
                padding: 0.1em;

                @media (max-width: 768px) {
                    font-size: 27px;
                }

                @media (max-width: 576px) {
                    font-size: 24px;
                }
            }
        }
    }
}

// Features
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem !important;
    z-index: 2;
    background-color: #111f35;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    margin-top: -40px;

    @media (max-width: 1200px) {
        width: 95%;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        padding: 0 !important;

        .feature {
            width: 100% !important;
        }
    }

    @media (max-width: 576px) {
        padding: 2rem 2rem;
    }

    .feature {
        display: flex;
        align-items: center;
        width: 33.33%;
        height: 150px;
        padding-left: 2rem;
        padding-right: 1rem;


        &:nth-of-type(1) {
            background-color: #111f35;
            color: $white;
        }

        &:nth-of-type(2) {
            background-color: #182a45;

            .info {
                color: #ffffff;
            }
        }

        &:nth-of-type(3) {
            background-color: #111f35;

            .info {
                color: $white;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
            justify-content: center;
            margin: 0.8rem auto;
        }

        .img-div {
            display: flex;
            justify-content: center;
            align-items: center;

            img,
            i {
                object-fit: contain;
                width: 100%;
                font-size: 3rem;
                margin: auto 0;
                color: $white;
            }
        }

        .info {
            margin-left: 1rem;

            h2 {
                font-size: 24px;
            }
        }


    }
}

// Social Media Ratings
.ratings-div {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);

    .ratings-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;
        border-radius: 8px;
        width: 65%;
        // margin-bottom: 3rem;

        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.2rem;
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2.2rem;
            width: 90%;
        }

        .ratings-card {
            border: none;
            border-radius: 12px;
            margin-bottom: 10px;
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            // background: rgba(255, 255, 255, 0.59);
            // border-radius: 16px;
            // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            // backdrop-filter: blur(5px);
            // -webkit-backdrop-filter: blur(5px);
            // border: 1px solid rgba(255, 255, 255, 0.3);
            transition: all 0.5s;

            &:hover {
                background-color: $white;
            }

            img {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.20rem;
                font-weight: 500;
            }

            .info {
                line-height: 24px;
                color: #504e4b;
            }

            .ratings {
                font-size: .85rem;
                line-height: 24px;
                color: #FF9529;
                margin-top: 0.5rem;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}



// How it works
.how-it-works {
    .flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        position: relative;
        width: 100%;

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }

        &::after {
            position: absolute;
            content: "";
            width: 70%;
            border-bottom: 2px dashed $dark;
            height: 3px;
            left: 50%;
            top: 20%;
            z-index: -2;
            transform: translateX(-50%);

            @media (max-width: 992px) {
                display: none;
                border: none;
            }
        }

        .column {
            text-align: center;

            @media (max-width: 992px) {
                padding-bottom: 2rem;
                border-bottom: 2px dashed $info;
            }

            .step-num {
                width: 3.5rem;
                height: 3.5rem;
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.3rem auto;
                position: relative;

                p {
                    color: $white;
                    font-size: 19px;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            .info {
                color: $info;
            }
        }
    }
}

.how-it-works.how-it-works-dark {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $primary;
    }

    padding: 3rem 0;

    .flex {

        &::after {
            position: absolute;
            content: "";
            width: 70%;
            border-bottom: 2px dashed $white;

            @media (max-width: 992px) {
                display: none;
                border: none;
            }
        }



        .column {
            @media (max-width: 992px) {
                border-bottom: 2px dashed $white;
            }

            .step-num {
                background-color: $white;

                p {
                    color: $secondary;
                    font-weight: 600;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
                color: $white;
            }

            .info {
                color: $white;
            }
        }
    }
}

// CTA Form
.cta-form {
    background-color: rgba(12, 22, 38, 0.863);
    padding: 3rem 0;
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    form {
        padding: 2rem 1.5rem;
        width: 60%;
        border-radius: 8px;
        margin: 0 auto;
        background: linear-gradient(0deg, rgba(160, 160, 160, 0.38) 0%, rgba(180, 180, 180, 0.38) 100%);
        box-shadow: 0 8px 32px 0 #0c1626;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.38);

        @media (max-width: 992px) {
            width: 90%;
        }

        @media (max-width: 576px) {
            width: 100%;
        }

        label {
            font-weight: 600;
            color: $white;

        }

        input {
            padding: 0.5rem 1rem;
        }

        .btn-primary.btn-form {
            background: linear-gradient(0deg, rgba(62, 115, 59, 1) 0%, rgba(89, 158, 85, 1) 100%);

            &:hover {
                background: linear-gradient(0deg, rgba(52, 105, 49, 1) 0%, rgba(79, 148, 75, 1) 100%);
            }
        }
    }
}

// Maps
.maps {
    .flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: auto;
                margin: 0 auto;
                max-height: 15rem;
                object-fit: contain;
            }

            p {
                width: 100%;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }
}

// Text CTA
.text-cta {
    .first-header {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: $primary;
    }

    .second-header {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: $dark;

    }
}

// Step Process
// .step-process-white.step-process{

// }
.step-process {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3rem 0;
    color: $white;
    position: relative;
    // color: $white;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }

    .info-div {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            color: #504e4b;
        }
    }



    .steps-side {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .step {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;

            .number {
                background-color: $white;
                width: 60px !important;
                min-width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                p {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $primary;
                }
            }

            .step-info {
                .header {
                    font-size: 1.7rem;
                    margin-bottom: 0.6rem;
                }
            }
        }
    }
}


// About us
.about-us-dark {
    position: relative;
    padding: 4rem 0;
    color: $white;

    background-color: rgba(12, 22, 38, 0.943);

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}


.about-us {
    padding-bottom: 3rem;

    .opposite {
        flex-direction: row-reverse;

        .img-div {
            &::after {
                right: inherit;
                left: -2rem;
                bottom: -2rem;
            }
        }
    }

    .about-us-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .info-div {
            width: 48%;

            @media (max-width: 992px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                list-style-type: none;
                padding-left: 0;

                @media (max-width: 430px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            li::before {
                content: "\f058";
                color: $primary;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }

        .img-div {
            width: 48%;
            height: 100%;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            &::after {
                position: absolute;
                content: "";
                background-color: $primary;
                width: 50%;
                height: 50%;
                border-radius: 12px;
                right: -0.9rem;
                bottom: -0.9rem;
                z-index: -1;
            }
        }

        .charts {
            display: flex;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 2rem;
            flex-wrap: wrap;

            .chart {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-weight: 600;
                    font-size: 1.6rem;
                    margin-bottom: 1.5rem;
                    color: $dark;
                    text-align: center;
                }

                img {
                    mix-blend-mode: multiply;
                    max-width: 20rem;
                }

                ;
            }
        }
    }
}

// Services list
.services-list {
    background-color: rgba(12, 22, 38, 0.863);
    padding: 3rem 0;
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .service {
            border: 2px solid #949494;
            border-radius: 14px;
            padding: 1rem 0.6rem;
            position: relative;

            .alphabet-div {
                background-color: $primary;
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                border-radius: 50%;
                border-top-right-radius: 14px;
                position: absolute;
                top: -1px;
                right: -1px;

                p {
                    font-size: 22px;
                    font-weight: 600;
                }
            }

            .icon-div {
                margin: 0 auto 1rem;
                width: 5.5rem;
                height: 5.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 2px solid #afafaf;

                .icon {
                    width: 70%;
                    height: 70%;
                }

                i {
                    font-size: 2rem;
                }
            }

            .service-header {
                text-align: center;
                font-size: 20px;
                font-weight: 600;
            }

            .service-info {
                text-align: center;
                font-size: 16px;
            }

            .btn {
                margin-top: 1rem;
                width: 100%;
                text-align: center;
                padding: 8px 0;
            }

            .buttons {
                gap: 0.5rem;

                @media (max-width: 300px) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Services List
.services-list.services-list-dark {
    position: relative;
    padding: 4rem 0;
    color: $white;

    .service {
        border: 2px solid #d8d8d8;
        background-color: $white;
        color: $dark;
    }
}



// FAQ
.faq {
    background-color: rgb(250, 250, 250);
    padding: 2rem 0 4rem 0;
    margin-bottom: 0;

    .accordion {
        --bs-accordion-border-width: 0px;
        --bs-accordion-btn-focus-border-color: #ffffff;
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem;
    }

    .accordion-item {
        margin-bottom: 1rem;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(233, 232, 232, 0.2) 0px 2px 8px 0px;
        background-color: #ffffff;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,...");
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,...");
    }

    .accordion-button:not(.collapsed):after {
        transform: none !important;
        transform: all 0.3s;
    }

    .accordion-topic button {
        padding: 20px 30px;
        background-color: #fff;
    }

    .accordion-topic button:after {
        font-family: "FontAwesome";
        content: "\f068";
        float: right;
        color: $primary;
        font-size: 1rem;
        height: inherit;
    }

    .accordion-topic button.collapsed:after {
        content: "\f0dd";
        // content: "\2b";
        font-size: 1.3rem;
    }

    .accordion-topic span {
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        color: #293241;
    }

    .accordion-body {
        padding-left: 2rem;
    }

    .accordion-button {
        background-color: #ffffff !important;
    }
}

// Testimonials
.testimonials {
    .flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }


        .testimonial {
            width: 100%;

            img {
                width: 100%;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}

// Industries We Serve
.locations {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .location {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 1.5rem 1.3rem;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            padding-bottom: 3rem;
            background-color: $white;

            .icon-div {
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary;
                border-radius: 50%;
                margin-bottom: 1rem;

                i {
                    color: $white;
                    font-size: 22px;
                }

                img {
                    width: 34px;
                }
            }

            .icon-div-second {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                top: 8%;
                right: 8%;
                width: fit-content;
                height: fit-content;
                position: absolute;

                i {
                    color: $primary;
                    font-size: 50px;
                    opacity: 0.1;
                }

                img {
                    width: 68px;
                    filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(3663%) hue-rotate(224deg) brightness(99%) contrast(92%);
                    opacity: 0.2;
                }
            }

            .title {
                font-size: 24px;
                font-weight: 600;
            }

            .link {
                font-size: 16px;
                font-weight: 400;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $primary;
                color: $white;
                width: 3rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 50%;
            }
        }
    }
}

// Ful CTA
.full-cta {
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 0;

        .img-side {
            width: 50%;
            max-height: 25rem;

            @media (max-width: 992px) {
                width: 0%;
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .text-side {
            width: 50%;
            padding: 5rem 2rem;
            background-color: #c40404e5;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
                background-color: #c40404d0;
            }

            h4 {
                font-weight: 600;
                color: $white;

                @media (max-width: 992px) {
                    text-align: center;
                }
            }

            .btn {
                padding: 8px auto;
            }
        }
    }
}

// Why Us
.why-us {
    background-color: #e3e9e3;
    padding: 3rem 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 30%;
        height: 100%;
        background-color: $primary;
        right: 0;
        top: 0;

        @media (max-width: 1200px) {
            width: 100%;
            height: 10rem;
            top: inherit;
            bottom: 0;
        }
    }

    .flex {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        // gap: 2rem;
        .info-div {
            width: 53%;

            @media (max-width: 1200px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            .features-point {
                margin-top: 2rem;

                .feature {
                    background-color: #ffffff;
                    display: flex;
                    align-items: center;
                    padding: 0.65rem 2rem;
                    margin-bottom: 2rem;
                    width: 70%;
                    border-radius: 6px;
                    gap: 1rem;

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                    i {
                        font-size: 24px;
                        color: $secondary;
                    }
                }
            }
        }

        .img-div {
            z-index: 2;
            width: 45%;
            position: relative;

            @media (max-width: 1200px) {
                width: 100%;
            }

            img {
                border-radius: 6px;
                width: 100%;
                max-height: 40rem;
                object-fit: cover;

                @media (max-width:1200px) {
                    max-height: 35rem;
                    object-fit: cover;
                    object-position: 15% 40%;
                }
            }
        }
    }
}

// About Us
.two-col-info {
    overflow: visible !important;

    .flex {
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 2rem;

        @media (max-width: 992px) {
            flex-direction: column;
            row-gap: 4.5rem;
        }

        .info-div {
            flex: 1;
            width: 45%;
            flex: 1;

            @media (max-width: 992px) {
                width: 100%;
                flex: inherit;
            }

            .title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 16px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                list-style-type: none;
                padding-left: 0;

                @media (max-width: 430px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            li::before {
                content: "\f058";
                color: $primary;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }

        .img-div {
            width: 45%;
            flex: 1;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .main-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .add-on-info {
                background-color: $white;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 0.5rem 1rem;
                position: absolute;
                z-index: 2;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);

                .big-text {
                    font-size: 3rem;
                    font-weight: 600;
                    color: $secondary;
                }

                .small-text {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0px;
                }

                .medium-text {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }

    }
}

// Resources
.resources {
    .flex {
        display: flex;
        padding: 2rem 0;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .resource {
            padding: 1rem;
            border-radius: 14px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, .1);

            .img-div {
                margin-bottom: 1rem;
                max-height: 20rem;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 12px;
                    object-fit: cover;
                }
            }

            .info-div {
                .title {
                    font-size: 22px;
                    font-weight: 600;
                    min-height: 3.3rem;
                }
            }
        }

        .buttons-flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 450px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

// Services
.services {
    color: $white;

    .services-description {
        width: 25%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    .services-row {
        width: 73%;

        @media (max-width: 992px) {
            width: 100%;
            margin-top: 1.5rem;
        }

        .service {
            margin: 0 1rem;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                .hidden-info {

                    p,
                    a {
                        display: block;
                    }
                }

                .img-div {
                    img {
                        width: 100%;
                        min-height: 25rem;
                        object-fit: cover;
                        filter: brightness(20%);
                    }
                }
            }

            .hidden-info {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                z-index: 1;
                color: $white;
                width: 100%;

                h3 {
                    text-align: center;
                    font-size: 30px;
                    text-shadow: black 0.1em 0.1em 0.2em;
                }

                p {
                    display: none;
                    text-align: center;
                    width: 95%;
                }

                a {
                    display: none;
                    text-align: center;
                    color: $white;
                    background-color: $secondary;
                    padding: 8px 16px;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 0.7rem;
                    border-radius: 8px;
                }
            }

            .img-div {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    min-height: 25rem;
                    object-fit: cover;
                    filter: brightness(70%);
                }
            }
        }
    }
}

// Service Areas
.service-areas {
    padding: 3rem 0;

    .container {
        background-color: $dark;
        padding: 2rem;
        border-radius: 12px;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
        filter: brightness(30%);
    }

    .cities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        column-gap: 1rem;
        margin-top: 2rem;
        list-style-type: circle;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        li {
            padding-bottom: 0.5rem;
            font-weight: 500;
            width: fit-content;
            margin: 0 auto;
            color: $white;

            a {
                font-size: 18px;
                color: $white;
            }
        }
    }
}

// Services Summary

.services-summary {
    .process {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 50%;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: start;
        }

        .number {
            border: 4px solid $secondary;
            border-radius: 50%;
            // width: 5rem !important;
            // height: 5rem;

            margin-right: 4rem;

            @media (max-width: 576px) {
                margin-right: 0rem;
                margin-bottom: 1rem;
            }

            h2 {
                width: 5rem !important;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .process-info {
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: #30281b;
                padding-bottom: 1rem;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: #362d1e;

                @media (max-width: 576px) {
                    text-align: center;
                }
            }
        }
    }
}

// Call to Action
.cta {
    position: relative;
    padding: 5rem 0;

    &::after {
        content: "";
        background-color: rgb(0, 0, 0, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -3;
    }

    h4 {
        font-size: 28px;
        font-weight: 600;
        position: relative;
        color: $white;
        z-index: 2 !important;
    }
}


// Before-After
.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-div {
        width: 100%;

        img {
            width: 100%;
            height: 35rem;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 20rem;
            }

            @media (max-width: 576px) {
                height: 25rem;
            }
        }
    }
}

// Footer

footer {
    .logo {
        max-width: 20rem;
        width: 100%;
        border-radius: 12px;
    }

    .footer-col {
        @media only screen and (max-width: 1000px) {
            text-align: left;
        }

        a {
            color: #5e5d5d;
        }

        .text-info {
            p {
                margin-bottom: 0.5rem;

                a {
                    line-height: 25px;
                }
            }
        }
    }

}

// Single Testimonials
.single-tesimonial {
    background-color: #fcf9e7;

    .testimonial {
        padding: 4rem 0;

        .img-div {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .quote {
                width: 8rem;
                margin: 0 auto;
            }
        }

        .message {
            font-size: 17px;
            font-weight: 500;
            color: $info;
            margin-bottom: 2rem
        }

        .name {
            font-size: 17px;
            font-weight: 500;
            color: $info;
        }
    }
}

// Contact
.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-align: center;

        i {
            font-size: 60px;
            color: $secondary;
            ;
            background-color: $creamWhite;
            padding: 2rem;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        h6 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }
}

.no-border-btn {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-top: -0.6rem;
    background-color: rgb(0, 0, 0, 0.1);
}

.flex-opposite {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }

    .img-div {
        width: 40%;
        position: relative;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 992px) {
            width: 100%;
            margin-top: 5rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary;
            right: -5%;
            top: -5%;
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-div {
        width: 58%;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 992px) {
            width: 100%;
        }

        p {
            font-size: 17px;
            font-weight: 500;
        }
    }
}