.details {
    .part {
        margin-bottom: 2rem;

        h3 {
            font-size: 27px;
            font-weight: 600;
            color: $dark;
            margin-bottom: 1rem;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            text-align: justify;
        }

        ul {
            li {
                margin-bottom: 0.2rem;
            }
        }
    }
}



// Legal
.legal {
    .partition {
        margin: 2rem 0;

        .header {
            text-align: center;
            font-weight: 500;
        }

        p {
            font-size: 18px;
        }

        .pointed-header {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        hr {
            margin: 2rem 0 !important;
        }

        ol {
            li {
                font-size: 18px;
                padding-left: 1rem;
            }
        }
    }
}
